= simple_form_for [ :user, @item ], html: { class: 'form-horizontal' } do |f|
  .form-inputs
    = f.input :title, class: 'form-control'
    = f.input :contents, class: 'form-control'
    = f.button :submit, class: 'btn btn-primary'
