%h1 Welcome To Qiita copy app

- if user_signed_in?
  %p
    ="Hello #{current_user.nickname} !"
  %p
    = link_to 'Create New Item', new_user_item_path
- else
  %p
    = link_to 'Sign in with Github', user_omniauth_authorize_path(:github)
