%h1 すべての投稿

- if user_signed_in?
  .user-actions
    %p
      = link_to 'Create New Item', new_user_item_path

%table.table
  %thead
    %tr
      %th 投稿ユーザー
      %th タイトル
      %th 投稿日
  %tbody
    = render @items
