.stock-info
  .stock-num
    = @item.stocks.size
  .stock-label ストック

- if user_signed_in?
  -if  @item.stocked?
    = link_to 'ストック解除', stock_destroy_path(@item), method: :delete, remote: true, class: "btn btn-default btn-block stocked"
  - else
    = link_to 'ストックする', stock_create_path(@item), method: :post, remote: true, class: "btn btn-default btn-block"


